<div style="display:none"; id="superquickcheckout_form_container">
    {{ form }}
</div>
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            var 
                add_to_cart_container = '#product',
                superquickcheckout_form_container = '#superquickcheckout_form_container > *:first-child';

            {% if position == 'above' %}
                $(superquickcheckout_form_container).insertBefore($(add_to_cart_container));
            {% else %}
                $(superquickcheckout_form_container).insertAfter($(add_to_cart_container));
            {% endif %}
        });
    })(jQuery);
</script>
