<div class="sqc_tc"><input type="checkbox" name="superquickcheckout[tc]" value="1" /> {{ text_agree }}</div>
{% if privacy_policy.status %}
<div class="sqc_pp" style="margin-top:5px;"><input type="checkbox" name="superquickcheckout[privacy_policy]" value="1" /> {{ privacy_policy.text }}</div>
{% endif %}
